.createblog {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.createblogheader {
    margin-bottom: 20px;
}

.createblogheader h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.formgruoptitle,
.formgroupcontent {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    font-size: 20px;
}

.form-control {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formgroupsubmit {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .createblog {
        width: 90%;
    }
}


article{
    width: 93%;
    height: auto;
    margin: 0px 20px;
    padding: 30px 30px;
    background: lightyellow;
}

article a {
    text-decoration: none;
}
.blog-header-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}