{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{% static 'style/home/style.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/logo2.jpg' %}" alt="project_logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Internships</a></li>

            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Search jobs & internships">
            <button>Search</button>
        </div>
        <div class="login-register">
            <!-- Login Button -->
            <a href="/auth/login" class="btn-link">
                <button type="button" class="login btn-login">
                    Login
                </button>
            </a>

            <!-- Register Button -->
            <a href="/auth/signup" class="btn-link">
                <button type="button" class="register btn-register">
                    Register
                </button>
            </a>


        </div>
    </header>

    {% block body %}
    {% endblock body %}
    <footer>
        <div class="footer-container">
            <div class="footer-links">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <ul>
                    <li><a href="#" target="_blank"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
                    </li>
                    <li><a href="#" target="_blank"><img src="{% static 'images/x.png' %}" alt="Twitter"></a></li>
                    <li><a href="#" target="_blank"><img src="{% static 'images/insta.png' %}" alt="Instagram"></a></li>
                    <li><a href="#" target="_blank"><img src="{% static 'images/linkdin.png' %}" alt="LinkedIn"></a>
                    </li>
                </ul>
            </div>
            <div class="footer-copyright">
                <p>&copy; Make Your Carrer</p>
            </div>
            <div class="footer-logo">
                <img src="{% static 'images/logo2.jpg' %}" alt=" Project Logo">
            </div>
        </div>
    </footer>
</body>

</html>