{% extends 'home/base.html' %}

{% block body %}
<div class="container">
    <div class="company-header">
        <h2>{{ company.name }}</h2>
        {% if company.logo %}
            <img src="{{ company.logo.url }}" alt="{{ company.name }}" width="150">
        {% endif %}
        
        <p><strong>Location:</strong> {{ company.location }}</p>
        <p><strong>About:</strong> {{ company.description }}</p>
        <p><strong>Total Job Openings:</strong> {{ jobs.count }}</p>
    </div>

    <h3>Current Job Openings</h3>
    <div class="grid-item">
        {% for job in jobs %}
        <div class="job-card">
          <a href="{% url 'job_detail' job.id %}"><h2 class="job-title">{{ job.title }}</h2></a>
          <p class="company-name">{{ job.company.name }}</p> 
          {% comment %} <p>Debug: Application Link - {{ job.application_link }}</p> {% endcomment %}
          {% comment %} {% if job.application_url == "" %} {% endcomment %}
          <a href="{{ job.application_link }}" target="_blank">
            <button class="apply-button">Apply</button>
          </a>
          {% comment %} {% else %}
            <span class="apply-button disabled">Application CLose</span>
          {% endif %} {% endcomment %}
        </div>
        {% comment %} {% empty %}
            <p>No job openings available.</p>
        {% endfor %} {% endcomment %}
        {% endfor %}
      </div>
</div>
{% endblock %}
