{% extends "home/base.html" %}
{% block body %}
<div class="grid-container">
  {% for job in page_obj %}
    
    <div class="grid-item">
      <div class="job-card">
        <a href="{% url 'job_detail' job.id %}"><h2 class="job-title">{{ job.title }}</h2></a>
        <a href="{% url 'company_overview' job.company.id %}"><p class="company-name">{{ job.company.name }}</p></a>
        {% comment %} <p>Debug: Application Link - {{ job.application_link }}</p> {% endcomment %}
        {% comment %} {% if job.application_url == "" %} {% endcomment %}
        <a href="{{ job.application_link }}" target="_blank">
          <button class="apply-button">Apply</button>
        </a>
        {% comment %} {% else %}
          <span class="apply-button disabled">Application CLose</span>
        {% endif %} {% endcomment %}
      </div>
    </div>
  {% endfor %}
</div>

<!-- No Results Found Modal -->
{% if no_results %}
  <div id="noResultsModal" class="modal">
    <div class="modal-content">
      <span class="close-btn">&times;</span>
      <p>No jobs match your search  Please try a different keyword.</p>
    </div>
  </div>
{% endif %}

<!-- Pagination Controls -->
<div class="pagination-container">
  {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" class="pagination-button">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
          <span class="pagination-button active">{{ num }}</span>
      {% else %}
          <a href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}" class="pagination-button">{{ num }}</a>
      {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}" class="pagination-button">Next</a>
  {% endif %}
</div>



{% endblock body %}