{% extends "home/base.html" %}
{% comment %} {% block body %}
<div class="grid-container">
    {% for internship in page_obj %}
    <div class="grid-item">
      <div class="job-card">
        <h2 class="job-title">{{ internship.title }}</h2>
        <p class="company-name">{{ internship.company.name }}</p>
        <p class="location">{{ internship.location }}</p>
        <button class="apply-button">Apply</button>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <!-- Pagination Controls -->
  <div class="pagination-container">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="pagination-button">Previous</a>
    {% endif %}
  
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="pagination-button active">{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}" class="pagination-button">{{ num }}</a>
        {% endif %}
    {% endfor %}
  
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="pagination-button">Next</a>
    {% endif %}
  </div>
  

{% endblock body %} {% endcomment %}


{% block body %}
<div class="grid-container">
  {% for internship in page_obj %}
    <div class="grid-item">
      <div class="job-card">
        
        <div class="card" style="background: linear-gradient(135deg,rgb(90, 90, 92),rgb(197, 197, 200));">
          <div class="card-header">
              <span class="tag">{{internship.location}}</span>
              {% comment %} <img src="g4s_logo.png" alt="G4S"> {% endcomment %}
          </div>
          <div class="card-content">
            <a href="{% url 'job_detail' internship.id %}"><h3>{{ internship.title }}</h3></a>
            <a href="{% url 'company_overview' internship.company.id %}"><p>{{ internship.company.name }}</p></a>
              <div class="meta">
                  {% comment %} <span>👁 5 Views</span> {% endcomment %}
                  <span>📅 {{ internship.days_left}} Days Ago</span>
              </div>
          </div>
      </div>
      </div>
    </div>
    {% endfor %}
</div>
  
  <!-- Pagination Controls -->
<div class="pagination-container">
  {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" class="pagination-button">Previous</a>
  {% endif %}

  {% for num in page_range %}
      {% if page_obj.number == num %}
          <span class="pagination-button active">{{ num }}</span>
      {% else %}
          <a href="?page={{ num }}" class="pagination-button">{{ num }}</a>
      {% endif %}
  {% endfor %}



  {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}" class="pagination-button">Next</a>
  {% endif %}
</div>

  

{% endblock body %}