

.container {
    display: flex;
    text-align: left;
    max-width: 1280px;
    justify-content: space-between;
    gap: 50px;
    height: 250px;
    width: auto;
    margin: 30px 50px;
    padding: 30px 40px;
}

.Text{
    margin-top: 10px;
    width: 400px;
}

.Text h1 {
    font-size: 40px;
    color: #1a1a1a;
    margin: 0;
}
.Text p {
    font-size: 20px;
    color: #1a1a1a;
    margin: 0;
}
.grid-container-index {
    display: grid;
    /* flex-direction: column; */
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;
    
    height: 250px;
    width: 800px;
    grid-template-columns: repeat(2, 1fr);

}


.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    width: 250px;
    /* hover: 0.3s; */
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}



.card-content h2 {
    font-size: 25px;
    margin: 0;
    color: #edf8f9;
}

.card-content p {
    font-size: 18px;
    margin: 3px 0 0;
    color: #edf8f9;
}

.card-internships {
    background: #75c9b7;
    height: 125px;
    /* width: 100px; */
    display: flex;
    gap: 125px;
}

.card-Mentorships {
    background: rgb(129, 212, 245);
    height: 125px;
    /* width: 100px; */
    display: flex;
    gap: 125px;
}

.card-jobs {
    background: #82b1ff;
    height: 125px;
    /* width: 100px; */
    display: flex;
    gap: 125px;
}



.card-more {
    background: #f3b1e7;
    height: 125px;
    /* width: 100px; */
    display: flex;
    gap: 125px;
}
.card-content-image img{
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    margin-right: 10px;
    padding-top: 10px;
    overflow: hidden;
}
.card-more img{
    height: 110px;
    width: 110px;
    overflow: hidden;
}




.internships-section {
    margin: 20px 90px;
    background-color: #edf8f9;
    padding: 1px 30px;
    height: 320px;


}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    width: 1170px;
    height: 200px;
}

.internship-container {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    width: 1000px;
    height: 165px;
    margin-left: -42px;
    margin-right: 24px;
    
}

.internship-card {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    height: 140px;
    position: relative;
    display: inline-block;
}

.internship-card a {
    text-decoration: none;
    color: white;
}


.company-logo {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    border-radius: 5px;
}

.prev,
.next {
    background-color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
    z-index: 1000;
}

.next {
    right:  5px;  
    z-index: 1000;
}

.prev:hover,
.next:hover {
    background-color: lightgray;
}

.jobs-section{
    
    margin: 20px 90px;
    background-color: #edf8f9;
    padding: 1px 30px;
    height: 320px;
}

.job-container {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    width: 1000px;
    height: 165px;
    margin-left: -42px;
    margin-right: 24px;
}

.job-card {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    height: 140px;
    position: relative;
    display: inline-block;
}
.job-card a {
    text-decoration: none;
    color: white;
}
.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.job-card img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.job-title {
    font-weight: bold;
    font-size: 18px;
}

.company-name {
    font-size: 14px;
}

.job-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    position: absolute;
    top: 144px;
    right: 10px;
    bottom: 10px;
    gap: 60px;
    left: 10px;
}

