body {
    height: 1000px;
    overflow-y: auto;
    background-color: #dcd7dc;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: auto;
}

.logo {
    display: flex;
    justify-content: center;

}

.logo img {
    max-width: 200px;
    max-height: 100px;

}

.logo img:hover {
    pointer-events: none;

}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    min-width: 150px;
}

.dropdown-content a {
    padding: 10px;
    display: block;
    text-align: left;
    color: #333;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}



.login-register {
    display: flex;
    /* justify-content: space-between; */

}

.login-register button {
    /* border: none; */
    margin: 3px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
    /* border: 1px solid #3292ce */

}

.login-register button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

.btn-register {
    background-color: #e15a43;
}


.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    width: 300px;
    flex: 1;
    /* padding-right: 40px;  */

}

.search-bar button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px;
    height: 100%;
    /* width: 40px;  */

}

.search-bar button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    background-color: #0069d9;
    transition: background-color 0.3s ease-in-out;
}


.profile-dropdown {
    position: relative;
    display: inline-block;
}

/* Circular profile button */
.profile-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #4CAF50;
    /* Customize the background color */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
    font-size: 20px;
}

/* Dropdown content inside the profile */
.profile-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    top: 50px;
    right: 0;
}

/* Dropdown content styling */
.profile-dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease;
}

.profile-dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown on focus */
.profile-button:focus+.dropdown-content,
.profile-dropdown:focus-within .dropdown-content {
    display: block;
}

/* Transition effect for smoother interaction */
.profile-button,
.dropdown-content {
    transition: 0.3s ease;
}


.footer-container {
    background-color: #f7f7f7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    color: #333;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer-social li {
    margin-right: 20px;
}

.footer-social img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: opacity 0.3s;
}

.footer-social img:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.footer-copyright {
    font-size: 14px;
    color: #666;
}

.footer-logo {
    margin-left: 20px;
}

.footer-logo img {
    width: 100px;
    height: auto;

}


/* jobs data css