/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 370px;
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #218838;
}

.google-btn {
    background-color: #db4437;
}

.google-btn:hover {
    background-color: #c33d31;
}

.divider {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider p {
    color: #888;
    font-size: 14px;
}

p {
    font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
}

/* a:hover {
    text-decoration: underline;
} */
.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #555;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.google-btn img {
    width: 27px;
    height: 27px;
    margin-right: 10px;
    border-radius: 50%;
}

.com-logo {
    width: 65px; 
    height: 40px;
    border-radius: 50%;
}

.google-btn:hover {
    background-color: #f8f8f8;
}

.divider {
    margin-top: 5px;
    text-align: center;
    margin: 20px 0;
}
/* Style for the "By continuing" light text and bold terms */
.terms-text {
    margin-top: 10px;
    color: #555; 
    font-size: 14px;
}

.heavy-text {
    color: #000; /* Heavy black color */
    font-weight: bold;
}

/* Divider line style */
.divider-line {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.forgot-password {
    text-align: right;
    margin-bottom: 15px;
}
.forgot-password a {
    color: #007BFF;
    font-size: 0.9rem;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}