{% extends 'home/base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'style/footer/about.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
<script src="{% static 'js/home/footer/script.js' %}"></script>
{% endblock %}
{% block body %}


<div class="content-wrapper-about">

    <div class="section-about">
        <div class="text">
            <h1>About Your Career</h1>
            <p>A comprehensive job portal that connects job seekers with opportunities in private, government, and international sectors.
            Provides a dedicated section for students and fresh graduates to find internships and industrial training programs.
            Uses AI-driven recommendations to match users with relevant job listings based on their skills, experiences, and preferences.
            Offers advanced filters for sector, location, salary, and job type to simplify job searching.</p>
        </div>
        <div class="image-about">
            <img src="{% static 'images/about.jpg' %}" alt="about" />
            
            
        </div>
    </div>

    <div class="section-about-reverse">
        <div class="text">
            <h2>Our People</h2>
            <p>Empowers students, professionals, and job seekers by providing them with a centralized platform for career growth.
            Supports employers and recruiters by offering a highly skilled talent pool and AI-powered applicant tracking.
            Builds a collaborative community through mentorship programs, webinars, and networking events.
            Encourages users to create detailed profiles showcasing their skills,certifications,and career goals.</p>
            {% comment %} <button class="aboutbtn"><a href="#">Click Here</a></button> {% endcomment %}
        </div>
        <div class="image-about">
            <img src="{% static 'images/Our people.jpg' %}" alt="People" />
        </div>
    </div>

    <div class="section-about">
        <div class="text">
            <h3>Our Leadership</h3>
            
            <p>Committed to bridging the gap between education and employment by providing an accessible and efficient job search platform.
            Uses cutting-edge technology, including AI and data analytics, to enhance job matching and recruitment.
            Promotes equal opportunities for candidates across diverse backgrounds and industries.
            Partners with universities, industries, and organizations to ensure a smooth transition from education to employment.</p>
        </div>
        <div class="image-about">
            <img src="{% static 'images/Our Leadership jpg.webp' %}" alt="Leadership" />
        </div>
    </div>

    <div class="section-about-reverse">
        <div class="text">
            <h4>Our Commitments</h4>
            <p>Ensures seamless access to job, internship, and training opportunities for students and professionals.
            Enhances career development through resume-building tools, interview preparation, and career counseling.
            Optimizes the hiring process for employers by providing pre-filtered, high-quality candidates.
            Prioritizes user-friendly navigation, security, and scalability to deliver the best experience for all users.</p>
        </div>
        <div class="image-about">
            <img src="{% static 'images/our communities.jpg' %}" alt="Commitments" />
        </div>
    </div>

</div>
{%endblock%}
