{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="{% static 'style/footer/about.css' %}" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
        </ul>
    </div>
    <div class="about-section">
        <h1>About Us</h1>
        <p>
            In today's competitive job market, graduates are encountering enormous challenges while their transition
            from education to employment. Most of the existing platforms do not provide access to a wide array of job
            opportunities comprehensively. This limitation spans both the private and government sectors, as well as
            international employment avenues. Additionally, there is insufficient support for students seeking
            internships and industrial training. Develop a user-friendly interface accessible via web applications.
            Ensure the platform supports various user profiles, including job seekers, employers allow users to create
            detailed profiles highlighting their skills, experiences, and career goals. Ensure the platform includes
            opportunities from private, government, and overseas sectors. Include filters and search options for users
            to find jobs according to sector, location, and other preferences. Create a dedicated section for
            internships and industrial training opportunities.The platform streamlines job and internship searches by
            centralizing listings for government, private, and internship opportunities, saving students time and
            effort. Students can access a comprehensive range of opportunities in one place without visiting multiple
            sources. For recruiters, the platform offers direct access to candidates who best match their requirements
            based on detailed student profiles, enhancing efficiency in finding suitable talent. This integration not
            only simplifies the job search process for students but also optimizes recruitment for employers.
        </p>

    </div>
</body>

</html>