{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}" type="image/png">
    <title>Sign In</title>
    <link href="{% static 'style/accounts/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="{% static 'images/logo.jpg' %}" alt="Favicon Icon" class="com-logo">

        <h1>Welcome to Make Your Career</h1>
        <h2>Sign In</h2>
        <form class="sign-in-form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="email">Username</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="forgot-password">
                <a href="/auth/request-reset-email">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Sign In</button>
        </form>
        <div class="divider">
            <p>or</p>
        </div>
        <a href="{% provider_login_url 'google' %}" class="btn google-btn">
            <img src="{% static 'images/google-logo.webp' %}" alt="Google Logo">
            Sign in with Google
        </a>
        <p class="terms-text">
            By continuing, you agree to Make Your Career's 
            <span class="heavy-text">Terms of Services</span> and 
            <span class="heavy-text">Privacy Policy</span>.
        </p>
        <hr class="divider-line">
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </div>
</body>
</html>
