{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}" type="image/png">
    <title>Request Password Reset</title>
    <link href="{% static 'style/accounts/style.css' %}" rel="stylesheet">
</head>
<body>

    <div class="container">
        <img src="{% static 'images/logo.jpg' %}" alt="Favicon Icon" class="com-logo">

        <h2>Request Password Reset</h2>
        <p>Enter your email below, and we'll send you a link to reset your password.</p>
        
        <form class="request-reset-form" action="{% url 'request-reset-email'%}" method="POST">
          {% csrf_token %}
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>

            <button type="submit" class="btn">Request Reset Link</button>
        </form>
        <br/>
        <p class="back-to-signin">
            <a href="/auth/login">Back to Sign In</a>
        </p>
    </div>

</body>
</html>