{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <link href="{% static 'style/accounts/style.css' %}" rel="stylesheet">
</head>
<body>

    <div class="container">
        <img src="{% static 'images/logo.jpg' %}" alt="Favicon Icon" class="com-logo">

        <h1>Set New Password</h1>
        <p>Please enter your new password below</p>
        <br/>

        <form class="set-new-password-form" action="{% url 'set-new-password' uidb64 token %}" method="POST">
          {% csrf_token %}
            <div class="input-group">
                <label for="new-password">New Password</label>
                <input type="password" id="pass1" name="pass1" required>
            </div>
            <div class="input-group">
                <label for="confirm-password">Confirm New Password</label>
                <input type="password" id="pass2" name="pass2" required>
            </div>

            <button type="submit" class="btn">Set New Password</button>
        </form>
        <br/>

        <p class="back-to-signin">
            <a href="/auth/login">Back to Sign In</a>
        </p>
    </div>

</body>
</html>