{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="{% static 'style/accounts/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Referencing static images -->
        <img src="{% static 'account/android-chrome-192x192.png' %}" alt="Favicon Icon" style="width: 50px; height: 50px;">

        <h1>Welcome to Make Your Career</h1>
        <h2>Sign Up</h2>

        <form class="sign-up-form" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password1" name="pass1" required>
            </div>
            <div class="input-group">
                <label for="password">Confirm Password</label>
                <input type="password" id="password2" name="pass2" required>
            </div>
            <button type="submit" class="btn">Sign Up</button>
        </form>

        <div class="divider">
            <p>or</p>
        </div>

        <!-- Google sign-in button -->
        <button class="btn google-btn">
            <img src="{% static 'account/google-logo.jpeg' %}" alt="Google Logo">
            <a href="{% provider_login_url 'google' %}" class="google-signup">Sign up with Google</a>
        </button>

        <p class="terms-text">
            By continuing, you agree to Make Your Career's
            <span class="heavy-text">Terms of services</span> and
            <span class="heavy-text">Privacy Policy</span>.
        </p>

        <hr class="divider-line">
        <p>Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
    </div>
</body>
</html>
