.content-wrapper-about {
    padding: 2rem;
}

/* Section styling */
.section-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.section-about-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.text {
    flex: 1;
    padding: 1rem;
    min-width: 300px;
}

.image-about {
    flex: 1;
    text-align: center;
    padding: 1rem;
    min-width: 300px;
}

a {
    text-decoration: none;
    color: white;
}

.image-about img {
    max-width: 85%;
    height: auto;
    border-radius: 12px;
}

/* Button styling */
.aboutbtn {
    padding: 0.7rem 1.2rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
}

button:hover {
    background-color: #2980b9;
}

